@import './colors.scss';

.header{
    margin:0
}
.dropdown-menu {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 10;
    width: 100%;
    height:100%;
    background-color: $main-green;
    display:flex;
    flex-direction: column;
    color: #fff;
}

.close-button{
    font-size: 25px;
    margin: 2.5% 1% 2% 25%;
    color:$main-white !important;
}
.dropdown-menu__main__links{
    font-family: Inter;
    display:flex;
    flex-direction: column;
    margin-top:10%;
}
.dropdown-menu__main__links a {
    font-size:22px;
    margin: 10px 0 20px 0;
    text-align: center;
    text-decoration: none;
    color: $main-white;
}

.dropdown-menu__main__links__reg{
    color:$third-green !important;
    font-size:16px !important; 
}
.dropdown-menu__main__links__login{
    color:black !important;
    background-color: $second-green;
    padding: 10px 0 10px 0;

    margin-right: 15% !important;
    margin-left: 15% !important;
    border-radius: 10px;
}