@import './colors.scss';

.footer{
    margin:0;
    height:137px;
    background-color: $main-green;
}
.footer__logo{
    margin-left:$left-margin
}
.footer__text{
    display: flex;
    flex-direction: column;
    margin-right:$right-margin
}
.footer__text p{
    color:$main-white;
    margin:0;
    text-align: right;
}
@media (max-width: 680px) {
    .footer__logo{
        overflow: auto;
    }
    .footer__logo img{
        
    }
    .footer__logo {
        display:flex;
        justify-content: flex-start;
    }
}
//MARGIN 
@media (max-width: 1200px) and (min-width: 600px) {
    .footer__logo {
        margin-left: $left-margin-medium;
        
    }
    .footer__text{
        margin-right: $right-margin-medium;
    }
}
  
  @media (max-width: 599px) {
    .footer__logo {
        margin-left: $left-margin-small;
        
    }
    .footer__text{
        margin-right: $right-margin-small;
    }
}