@import './colors.scss';

.footer{
    width: 100%;
    margin:0;
    height:137px;
    background-color: $main-green;
    display:flex;
    justify-content: center;
}
.footer__center__div{
    height:137px;
    display: flex;;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #029491;
}
.footer__logo{
    margin-left:$left-margin
}
.footer__text{
    display: flex;
    flex-direction: column;
    margin-right:$right-margin
}
.footer__text p{
    color:$main-white;
    margin:0;
    text-align: right;
}
@media (max-width: 680px) {
    .footer__logo{
        overflow: auto;
    }
    .footer__logo img{
        
    }
    .footer__logo {
        overflow: hidden;
        display:flex;
        justify-content: flex-start;
    }
}
//MARGIN 
@media (max-width: 1200px) and (min-width: 600px) {
    .footer__logo {
        margin-left: $left-margin-medium;
        
    }
    .footer__text{
        margin-right: $right-margin-medium;
    }
}
  
  @media (max-width: 599px) {
    .footer__logo {
        margin-left: $left-margin-small;
        
    }
    .footer__text{
        margin-right: $right-margin-small;
    }
}
@media (max-width: 360px) {
    .footer__text {
        font-size:13px;
    }
}