@import './colors.scss';


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 93px;
    font-family: Inter;
    font-size:14px;
    margin:0 $right-margin 0 $left-margin
}
.header__user, .header__logo, .header__auth{
    width:40%;
    height:100%;
}
.header a{
    text-decoration: none;
    color: $main-black;
}

.header__logo{
    overflow: hidden;
    height:100%;
    min-width:133px;
    
}
.header__logo img{
    
   
    width: 141px;
    height: 100%;
    object-fit: cover;
}

.header__nav{
    width:20%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header__nav__item{
    margin: 0 5%;
}


.header__auth{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__auth__reg{
    color: $third-gray !important;
    margin: 0 3% 0 0;
}
.header__auth__svg{
    width:4px;
    height:31px;
    border-radius: 2px;
}
.header__auth__svg rect{
    width:4px;
    height:31px;
    fill: $main-green;
}
 .header__auth__login{
    
}
.header__auth__login{
    margin-left: 3% ;
    border-radius:5px;
    padding: 7px 12px;
    background-color: $second-green;
}
.header__user{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header__user__balance{
    margin-left:10%;
    display:flex;
    justify-content: center;
    width:200px;
    min-width: 200px;
    height: 70px;
    background-color: #d9d9d96b;
    border-radius: 5px;   
}
.header__user__balance__loading{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header__user__balance__loading img{
    width: 50px;
    height: 50px;
}

.header__user__balance__text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    color: $third-gray;
}
.header__user__balance__text p {
    display:flex;
    align-items: center;
    margin: 1px;
}
.header__user__balance__text span{
    min-width: 22px;
    margin: 0 0 0 8px;
    color:$main-black;
    font-size:20px;
    font-weight: 700;
    text-align: left;
}
.header__user__balance__text p:last-child span{
    color: #8AC540;
}
.header__user__profile{
    display:flex;
    align-items: center;
}
.header__user__profile__info{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.header__user__profile__info p{
    margin: 6px 0 2px 0;
    white-space: nowrap;
}
.header__user__profile__info  a{
    font-size: 12px;
    margin: 2px 0 6px 0;
    color: $third-gray
}
.header__user__profile img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5%;
}
.menu-button{
    display:none;
}
@media  (max-width: 1024px){
    .header__user__profile img{
        display:none;
    }
    .header__nav__item {
        font-size: 12px;
    }
    .header__user__balance{
        min-width: 0 !important;
        width:140px;
        height: 70px;
    }

    .header__user__balance__text{
        display: flex;
        align-items: start;
    }
	.header__user__balance__text p{
        font-size: 10px;
        display:flex;
        flex-direction: column;
    }
    .header__user__balance__text span{
        font-size: 14px;
        align-self: flex-start;
    }
    .header__user__profile p, .header__user__profile a{
        font-size:12px;
    }
}

@media (min-width: 680px) and (max-width: 768px) {

}
@media (max-width: 680px) {
    .header__nav, .header__user__profile{
        display:none;
    }
    .header__logo img{
        margin-left:2%;
    }
    .header__auth{
        display:none
    }
    .menu-button{
        font-size: 37px;
        margin-right:4%;
        background: none;
        border: none;
        cursor: pointer;
        display: block; 
        color: $main-green
    }
}
//MARGIN 
@media (max-width: 1200px) and (min-width: 600px) {
    .header {
        margin-left: $left-margin-medium;
        margin-right: $right-margin-medium;
    }
}
  
  @media (max-width: 599px) {
    .header {
        margin-left: $left-margin-small;
        margin-right: $right-margin-small;
    }
}